body{
    font-size: 16px;
    margin:0px;
    font-family: Arial;
    background-color: #151515;
    color:white;
    font-family: Oswald;
}

.Default .base{
    display: flex;
}

.Default .content{
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 0 15px;
}

.Default .links{
    list-style: none;
    padding: 10px 15px;
    display: flex;

}
.Default .links li +  li{
    margin-left: 5px;
}

.Default .links a {
    text-decoration: none;
    color: white;
    background-color: white;
    color: black;
    border-radius: 5px;
    padding: 10px;
}